.header{
    display: flex;
    padding: 1rem 2rem;
    align-items: center;
    justify-content: space-between;

    /* efeito de vidro */
    background-color: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(10px);
    border-bottom: 1px solid rgb(0, 0, 0, 0.04);

    box-shadow: 0 4px 20px rgb(0, 0, 0, 0.04);

    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    transition: all 0.3s ease;
}

/* Estado ROLAGEM (Quando desce a página) -- Classe scrolled feita no JavaScript */
.header.scrolled {
    padding: 0.5rem 2rem; 
    height: 65px; 
    background: rgba(255, 255, 255, 0.95);
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.header.scrolled .logo-header {
    width: 35px; 
}

.header.scrolled .dr-title {
    display: none; /* esconder o subtítulo ao rolar para limpar a visão */
}

.logo-link{
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: inherit;
}

.logo-header{
    width: 45px;
    height: auto;
    border-radius: 50%;
}

.logo-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dr-name{
    color: var(--color-dark);
    font-family: var(--font-secondary);
    font-size: 1rem;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-weight: 600;
    line-height: 1.2;
}

.dr-title{
    font-size: 0.7rem;
    color: var(--color-gold);
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 2px;
}

.div-nav ul{
    display: flex;
    list-style: none;
    gap: 2.5rem;
    font-family: var(--font-primary);
}

.nav-link{
    position: relative;
    text-decoration: none;
    color: var(--color-dark);
    font-size: 0.95rem;
    font-weight: 500;
    padding-bottom: 5px;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.nav-link:hover {
    opacity: 1;
}

/* efeito linha dourada */
.nav-link::after {
    position: absolute;
    content: '';
    width: 0%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-gold);
    transition: width 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.nav-link:hover::after{
    width: 100%;
}

.div-contact .btn{
    padding: 0.7rem 1.5rem;
    font-size: 0.85rem;
    border-radius: 50px;
    border: 1px solid var(--color-dark);
    color: var(--color-dark);
    background: transparent;
    transition: all 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    text-decoration: none;
}

.div-contact .btn:hover {
    background: var(--color-dark);
    color: #fff;
    transform: translateY(-2px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Mobile Menu */
.mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Cobre toda tela depois que aberto*/
    padding-top: 100px; /* Espaço para não ficar em cima do logo */
    
    background: rgba(250, 248, 245, 0.98); 
    backdrop-filter: blur(15px);
    
    transform: translateY(-100%); 
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s cubic-bezier(0.77, 0, 0.175, 1);
    z-index: 900;
}

.mobile-menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 4rem;
    list-style: none;
}

.mobile-menu li {
    border-bottom: 1px solid var(--color-gold-soft);
}

.mobile-menu a {
    font-family: var(--font-secondary);
    font-size: 1.5rem; 
    color: var(--color-dark);
    font-weight: 400;
    text-decoration: none;
}

.menu-toggle {
    display: none;
    z-index: 1001; /* acima de tudo */
}

.menu-toggle span {
    display: block;
    width: 24px;
    height: 2px;
    background-color: var(--color-dark);
    border-radius: 2px;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

/* Animação botão hamburger */

/* 1. A linha de cima gira e desce */
.menu-toggle.active span:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: var(--color-gold);
}

/* 2. A linha do meio desaparece */
.menu-toggle.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-10px); /* Efeito de sair deslizando */
}

/* 3. A linha de baixo gira e sobe */
.menu-toggle.active span:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: var(--color-gold);
}
/* end animação reg */


/* Responsividade */
@media (max-width: 768px){

    .div-nav, .div-contact {
        display: none;
    }
    
    .header{
        padding: 1rem 1.2rem;
    }
    
    /* hamburguer */
    .menu-toggle {
        display: flex;
        flex-direction: column;
        gap: 6px;
        background-color: transparent;
        border: none;
        border-radius: 50%;
    }
    
}