<section class="hero" id="inicio">

  <div class="hero__layout">
    <div class="hero__content">
      <h1>Procedimentos estéticos avançados com resultados naturais e seguros.</h1>
      <p>Procedimentos personalizados, realizados por uma profissional especializada, focados em harmonia facial, naturalidade e bem-estar.</p>
      <button>
        <a href="https://wa.me/5551994690404?text=Ol%C3%A1!%20Vim%20pelo%20site%20e%20gostaria%20de%20saber%20qual%20%C3%A9%20o%20melhor%20tratamento%20para%20minha%20pele.">
        Agendar minha avaliação personalizada
        </a>
      </button>
    </div>

    <div class="hero__visual">
      <div class="visual-wrapper">
        <img src="/assets/img/foto-dani-2.jpeg" alt="Daniela da Silveira">
      </div>
    </div>
    
  </div>
</section>