<section class="hero" id="inicio">

  <div class="hero__layout">
    <div class="hero__content">
      <h1>Estética avançada com olhar humano e resultados naturais.</h1>
      <p>Procedimentos estéticos personalizados, realizados por uma profissional especializada, focados em harmonia facial, naturalidade e bem-estar.</p>
      <button><a href="https://wa.me/5551994690404?text=Olá%20gostaria%20de%20saber%20mais%20sobre%20os%20tratamentos">Agendar minha avaliação</a></button>
    </div>

    <div class="hero__visual">
      <div class="visual-wrapper">
        <img src="/assets/img/foto-dani-2.jpeg" alt="Daniela da Silveira">
      </div>
    </div>
    
  </div>
</section>